@charset "UTF-8";

body{
    margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif
}


/* 基本 */
.burger * {
	margin: 0;
}

.burger img	{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.burger-sub img {
	max-width: 100px;
}

/*グリッド*/
.burger{
    --side: 20px;
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: auto 180px;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    margin: 0 var(--side) 30px;
    font-family: 'Noto Sans Japanese', sans-serif;
}

/*画像大*/
.burger-photo {
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 0 calc( var(--side) * -1 );
}

.burger-photo img {
    height: 100%;
    object-fit: cover;
    max-height: 600px;
}

/*タイトル*/
.burger-title {
    grid-column: 3;
    grid-row: 1 / -1;
    z-index: 1;
    padding: 120px 0 40px;
    font-size: 56px;
    font-weight: 900;
    line-height: 1.3;
    writing-mode: vertical-rl;
}

/*文章*/
.burger-text {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8;
    writing-mode: vertical-rl;
}

/*サブ情報*/
.burger-sub {
    grid-column: 1;
    grid-row: 2;
}

/*画面幅1000px以上*/
@media (min-width 1000px){
    .burger {
        --side: calc( (100vw - 960px) / 2 );
    }
    
/*    文章*/
    .burger-text {
        line-height: 2.5;
    }
}

/*画面幅769~999*/
@media(min-width:769px) and (min-width:999px){
/*    文章*/
    .burger-text {
        line-height: calc(22.2px + 7.8 * (100vw - 768px) / 232);
    }
}

/*画面幅767以下*/
@media(max-width: 767px){
    .burger {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 180px auto;
    }
    
/*    タイトル*/
    .burger-title {
        grid-column: 2;
        grid-row: 1 / 3;
        font-size: 35px;
    }
    
/*    文章*/
    .burger-text {
        grid-column: 1;
        grid-row: 2;
        overflow-x: auto;
        min-width: 1px; /*safari*/
        justify-self: stretch;
        padding-left: 30px;
    }
    
    .burger::after {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        z-index: 1;
        width: 30px;
        content: '';
        background: linear-gradient(
            to right,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,0) 100%
        );
    }
    
/*    サブ情報*/
    .burger-sub {
        grid-column: 1 / -1;
        grid-row: 3;
        
/*        サブ情報のグリッド*/
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 10px;
        max-width: 280px;
    }
    
    .burger-sub p {
        margin: 0;
    }
}